[temperature_sensor SKR_Mini]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 80

[heater_bed]
heater_pin: PC9
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PC4
#smooth_time: 2.0
pwm_cycle_time: 0.02
min_temp: 0
max_temp: 130
control: pid
pid_Kp: 63.500
pid_Ki: 0.850
pid_Kd: 1000.000

#[verify_heater heater_bed]
#max_error: 120
#check_gain_time: 90  # Increase from default 60
#hysteresis: 5
#heating_gain: 2

[verify_heater heater_bed]
max_error: 240
check_gain_time: 120
hysteresis: 10
heating_gain: 1



[stepper_x]
microsteps: 32
full_steps_per_rotation: 200
rotation_distance: 40
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_min: -4
position_endstop: -4
position_max: 250
homing_speed: 40
homing_retract_dist: 0

[motor_constants MOT-AN-S-060-005-042-L-A-AAAA]
resistance: 1.75
inductance: 0.0033
holding_torque: 0.5
max_current: 1.8
steps_per_revolution: 200

[autotune_tmc stepper_x]
motor: MOT-AN-S-060-005-042-L-A-AAAA
tuning_goal: performance
sg4_thrs: 65
voltage: 24

[tmc2209 stepper_x]
run_current: .7
diag_pin: ^PC0
uart_address: 0
uart_pin: PC11
tx_pin: PC10
#driver_SGTHRS: 120
interpolate: True
#stealthchop_threshold: 1000

[stepper_y]
microsteps: 32
full_steps_per_rotation: 200
rotation_distance: 40
step_pin: PB10
dir_pin: PB2
enable_pin: !PB11
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: -30
position_max: 210
position_min: -30 #-33
homing_speed: 40
homing_retract_dist: 0

[autotune_tmc stepper_y]
motor: ldo-42sth40-1684ac
tuning_goal: performance
sg4_thrs: 125
voltage: 24

[tmc2209 stepper_y]
run_current: .7
diag_pin: ^PC1
uart_address: 2
uart_pin: PC11
tx_pin: PC10
#driver_SGTHRS: 115
interpolate: True
#stealthchop_threshold: 1000

[stepper_z]
microsteps: 32
full_steps_per_rotation: 200
rotation_distance: 40
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
position_max: 200
position_min: -5
homing_speed: 35

[autotune_tmc stepper_z]
motor: MOT-AN-S-060-005-042-L-A-AAAA
tuning_goal: performance
sg4_thrs: 65
voltage: 24

[tmc2209 stepper_z]
run_current: .7
diag_pin: ^PC2
uart_address: 1
uart_pin: PC11
tx_pin: PC10
#driver_SGTHRS: 120
interpolate: True
#stealthchop_threshold: 1000

[static_digital_output status_led]
pins: PD8